.btn {
    @apply cursor-pointer px-4 py-2 text-sm font-medium leading-5 text-white transition-colors
    duration-150 border border-transparent rounded-lg focus:outline-none
    bg-gray-200 hover:bg-gray-300 focus:shadow-gray-400 text-gray-700 min-h-[2.5rem]
    no-underline inline-block;

    &:disabled {
        @apply bg-gray-300 cursor-not-allowed opacity-50;
    }

    &.btn--green {
        @apply bg-green-400 hover:bg-green-500 focus:shadow-green-500 text-white;
    }

    &.btn--dark-gray {
        @apply bg-gray-400 hover:bg-gray-500 focus:shadow-gray-500 text-white;
    }

    &.btn--yellow {
        @apply bg-yellow-400 hover:bg-yellow-500 focus:shadow-yellow-400;
    }

    &.btn--orange {
        @apply bg-orange-400 hover:bg-orange-500 focus:shadow-orange-400 text-white;
    }

    &.btn--purple {
        @apply bg-purple-500 hover:bg-purple-600 focus:shadow-purple-500 text-white;
    }

    &.btn--blue {
        @apply bg-blue-500 hover:bg-blue-600 focus:shadow-blue-500 text-white;
    }

    &.btn--red {
        @apply bg-red-600 hover:bg-red-700 focus:shadow-red-500 text-white;

        &:disabled {
            @apply bg-red-300;
        }
    }

    &.btn--sm {
        @apply px-2 py-1;
    }

    &.btn--md {
        @apply px-2 py-2;
    }

    &.btn--lg {
        @apply px-3 py-2;
    }

    &.btn--no-top {
        @apply py-0;
    }

    &.btn--full {
        @apply w-full text-center justify-center;
    }
}
