div.input,
input:not([type='radio']).input,
textarea.input {
    @apply block w-full py-2.5 px-3 text-xs border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none
        sm:text-sm disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        focus:border-blue-500;

    &.is-invalid {
        @apply border-red-400;

        &::placeholder {
            @apply text-red-400;
        }
    }
}

select.input {
    @apply block w-full py-2.5 px-1.5 border focus:border-blue-500 text-xs border-gray-300 bg-white rounded-md shadow-sm focus:outline-none
    sm:text-sm disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;

    &.is-invalid {
        @apply border-red-400;

        &::placeholder {
            @apply text-red-400;
        }
    }
}

input[type='number'].nospin::-webkit-inner-spin-button,
input[type='number'].nospin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
